{
  email {$LETSENCRYPT_EMAIL}
  acme_ca https://acme-v02.api.letsencrypt.org/directory
}

{$DOMAIN} {
  encode gzip

  reverse_proxy web:3000

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
    Permissions-Policy "geolocation=(), microphone=(), camera=()"
  }
}
